<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.vigor.checadorpreciossai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".detalleCotizacion" />
        <activity android:name=".CotizadorFormulasActivity" />

        <activity android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".MainActivity" />-->
        <activity android:name=".ExistenciasView" />
        <activity android:name=".VentasNetas_xcdp" />
        <!-- Verifica si el nombre correcto es ClieDes o CiteDes -->
        <activity android:name=".VentasClieDesProd" />
        <!-- Verifica si es Clase o Class -->
        <activity android:name=".VnetasAlmacenClase" />
        <activity android:name=".v_netas_clase_table" />
        <activity android:name=".ConsultarSaldoClientes" />
        <activity android:name=".ProductosMasVendidosPorAgente" />
        <activity android:name=".Grafic" />
    </application>
</manifest>